/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: IBM Plex Mono, sans-serif;
  --general-font-size: 18px;
  --general-margin: 10px;
  --section-margin-bottom: 50px;

  --background-image: url(../images/cover-image-dark.png);

  --item-visibility: visible;
  

  --bg-color: #000028;
  --header-color: #DB00FF;
  --shadow-color: #FF0070;
  --bright-color: #FF0070;
  --item-color: #000028;
  --section-title-color: #FF0070;
  --main-text-color: #F1B2CE;
  --button-hover: rgb(255 0 112 / 0.4);
} 